@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 150px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
